
*,
body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  color: white;
}

h5 {
  font-weight: 700;
  margin-left: 11%;
  margin-bottom: 20px;
}

h3{
  margin: 0 auto;
  margin-top: 10px;
}

p {
  margin-left: 11%;
  margin-bottom: 20px;
}

.all-container {
  display: flex;
  height: 100vh;
}

.left-side {
  display: flex;
  height: 100vh;
  width: 60%;
  flex-wrap: wrap;
  float: left;
}

.right-side {
  height: 100vh;
  width: 40%;
  position: absolute;
  right: 0;
}

.box {
  width: 33.3333%;
  height: 33.3333%;
}

.box1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 66.6666%;
  background-color: #0d0e13;
}

.buttons {
  display: flex;
  justify-content: space-around;
  height: 20%;
}

button {
  width: 28%;
  background-color: #0d0e13;
  text-decoration: none;
  border: 2px solid white;
}

button img {
  height: 25px;
}

.box-2 img,
.box3 img,
.box4 img,
.box5 img,
.box6 img,
.box7 img,
.box8 img {
  margin: 0 auto;
  height: 50%;
  width: 50%;
}

.box-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #a0b1ab;
}

.box3,
.box4,
.box5,
.box6,
.box7,
.box8 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box3,
.box7 {
  background-color: #1a2d34;
}

.box4 {
  background-color: #628078;
}

.box5 {
  background-color: #0d0e13;
}

.box6,
.box8 {
  background-color: #384848;
}

img {
  width: 100%;
  height: 100%;
}


.media-screen-img {
  display: none;
}


/*@media screen and (max-width: 890px) {

  .left-side {
    height: 95vh;
  }
  .right-side {
    height: 95vh;
  }
}*/

@media screen and (max-width: 800px) {
  .left-side {
    float: none;
    height: 89vh;
    width: 100%;
  }
  .right-side {
    width: 100%;
    height: 50vw;
  }
  .on-load {
    display: none;
  }
  .media-screen-img {
    display: block;
    height: 100%;
    width: 100%;
    margin-top: -2px;
  }
  .buttons {
    height: 25%;
  }
}

@media screen and (max-width: 600px) {

  .left-side {
    height: 70vh;
  }
  .buttons {
    height: 27%;
  }
}

@media screen and (max-width: 520px) {
  .box1 {
      width: 100%;
    }
    .left-side {
      height: 70vh;
    }
    .box {
      height: 25%;
    }
    .box8 {
      background-color: #0d0e13;
    }
    .box8 {
      width: 100%;
    }
    .buttons {
      height: 32%;
    }
    /*.media-screen-img {
      margin-bottom: -1000px;
    }*/
    button img {
      height: 18px;
    }
}

@media screen and (max-width: 450px) {
  .buttons {
    height: 30%;
  }
  button img {
    height: 15px;
  }
}

@media screen and (max-height: 700px) {
  button img {
    height: 15px;
    width: 15px;
  }
}

@media screen and (max-height: 600px) {
  p,
  h5 {
    margin-bottom: 8px;
  }
}
